.dialogs {
  display:flex;
}

.dialogsItems {
  flex: 1 0 auto;
  min-width: 180px;
  padding: 10px;
  border-right: 1px solid deepskyblue ;
  height: 100vh;
}

 .dialogsItems .imgAva {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 13px;
  margin-right: 7px;
}

.dialogsItems .dialog {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  color: black;
}

.dialogsItems .active {
  font-weight: bold;
  color: black;
}

.messages {
  flex: 4 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 8px;
  padding: 4px;
  background:bisque;
  border-radius: 10px;
  width: 70%;
}

.mesRight {
  align-self: flex-end;
  background-color: aquamarine;
}

.newMessage {
  width: 100%;
}

.errBox {
  border: 2px solid red;
}

.errBox:focus {
  border: 2px solid red;
}

.errTxt {
  color: red;
}

.btnSend {
  width: 150px;
  margin-top: 7px;
  padding: 7px 0;
}
